.toast {
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    pointer-events: all;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
    padding: 1rem;
    background: #ffffff;
    font-size: 1.6rem;
}

.portal {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.toastContainer {
    margin: 10px;
}

:global {

html {
    font-size: 10px;
}

}